.contenedor_detalles{
    width: 100%;
    display: flex;
    justify-content: space-around;
    
    
}


.imagenes_detalles{
    display: flex;
    background-color: aqua;

}

.titulo_detalles{
    background-color:brown;

}
